extends layouts.pug

block content
    .col-12
        h1 Tambah Todo
    .col-12
        form(method="POST" action='/todo')
            input(type='text' class="form-control mb-3" name="todo")
            button(type="submit" class="btn btn-primary form-control mb-5") Tambah

    .col-12
        .card
            .card-body
                ol(class="p-4 mb-0")
                    each to in todo
                        li()= to.name
                            span()
                                form(method="POST" action=`todo/${to._id}/delete` )
                                    button(type="submit" role="button" class="btn btn-danger text-center mr-auto mt-2 mb-2") Hapus
    script.
     console.log(!{JSON.stringify(todo)}, 'list todo')